@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
h1,h2,p,ol,ul{
    font-family: 'Indie Flower', cursive;
    background-color:rgba(253, 253, 253, 0.5);
}
.large{
    font-size:50px;
}
h1{
    font-size:45px;
    color:red;
}
*{
    box-sizing: border-box;
    padding: 25px 50px;
}

body{
    background-image:url("planet2.jpg");
    background-color:rgba(253, 253, 253, 0.932);
    height:500px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
div{
    border:double;
    color:black;
}

